.blockquote {
  margin:0 0 0px;
  font-size:17.5px;
  border-left:5px solid rgb(241,247,252);
}

.postimg{
	opacity: 0;
	transition: all 2s ease-out;
	width: 50%;
}

.postheader{
	background-color:rgb(255,255,255);
	padding-right:15px;
	padding-left:10px;
	padding-top:10px;
	border:1px solid #d9e4ec;
	border-bottom: none;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.postprofile{
	opacity: 0;
	transition: all 2s ease-out;
	border:1px solid #d9e4ec;
	border-radius: 50%;
	object-fit:cover;
	width:45px;
	height:45px;
	margin-bottom:0px;
	margin-right:10px;
}

.postbody{
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
	border:1px solid #d9e4ec;
	border-bottom:none;
	border-top:none;
	background-color:rgb(255,255,255);
	word-wrap:break-word;
	font-size:16px;
}

.postfooter{
	display:block;
	background-color: rgb(255,255,255);
	overflow: auto;
}

.postpic{
	border:1px solid #d9e4ec;
	border-bottom: none;
	width:100%;
	max-height:500px;
	object-fit:cover;
}

.likebutton{
	font-size: 0;
	width:50%;
	color:rgb(33,37,41);
	background-color: rgb(255,255,255);
	border-right:none !important;

}

.commentbutton{
	font-size: 0;
	width:50%;
	color:rgb(33,37,41);
	background-color: rgb(255,255,255);
	border-left:none !important;
}

.likebutton:hover{
	background-color: #d9e4ec;
}

.commentbutton:hover{
	background-color: #d9e4ec;
}

.uploadbutton{
	width:50%;
	color:rgb(33,37,41);
	font-size: 0 !important;
	background-color: rgb(255,255,255);
	border-right:none !important;
	border-bottom-left-radius: 4px;
}

.postbutton{
	width:50%;
	color:rgb(33,37,41);
	font-size: 0 !important;
	background-color: rgb(255,255,255);
	border-left:none !important;
	border-bottom-right-radius: 4px;
}

.uploadbutton:hover{
	background-color: #d9e4ec;
}

.postbutton:hover{
	background-color: #d9e4ec;
}

.lolzbox{
	display:block;
	background-color:rgb(255,255,255);
	border-radius:4px;
	border:1px solid #d9e4ec;
	width:100%;
	padding:10px;
	margin-bottom: 10px;
}

.lolzbox2{
	display:inline-block;
	background-color:rgb(255,255,255);
	border-radius:4px;
	border:1px solid #d9e4ec;
	width:99.999%;
	margin-bottom:5px;
	overflow:hidden;
}

.subheader{
	font-weight:600;
	font-size:20px;
	color:rgb(255,110,199);
}

.stat{
	display:inline-block;
	float:left;
	width:33.333%;
	padding:5px;
	font-weight:500;
}

.stat:hover{
	background-color: #d9e4ec;
}

.commentbox{
	font-size: 0;
	display:block;
	background-color:rgb(255,255,255);
	border:1px solid #d9e4ec;
	border-top: none !important;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.commentbubble{ 
	display:inline-block;
	border-radius:20px;
	border:1px solid #d9e4ec;
	background-color:rgb(241,247,252);
	overflow:hidden;
	width: calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: -webkit-calc(100% - 40px);
	margin-bottom: 10px;
}

.commentinput{
	display:block;
	box-sizing: padding-box;
  	overflow: hidden;
  	font-size:14px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	border:none !important;
	resize: none;
	width:100%;
	color:rgb(33,37,41);
}

.postinput{
	display:block;
	box-sizing: padding-box;
  	overflow: hidden;
  	font-size:16px;
	border:none !important;
	resize: none;
	width:100%;
	color:rgb(33,37,41);
	background-color: rgb(255,255,255);
}


.userpic{
	opacity: 1;
	transition: all 2s ease-out;
	display:inline-block;
	vertical-align:top;

	border:1px solid #d9e4ec;
	border-radius: 50%;
	object-fit:cover;
	width:34px;
	height:34px;
	margin-right: 5px;
}

.commentbubbleposts{
	display:inline-block;
	margin-bottom: 10px;
	border-radius:20px;
	border:1px solid #d9e4ec;
	background-color:rgb(241,247,252);
	max-width: calc(100% - 40px);
	max-width: -moz-calc(100% - 40px);
	max-width: -webkit-calc(100% - 40px);

}.commenttext{
	display:block;
	box-sizing: padding-box;
	word-wrap:break-word;

  	font-size:14px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	border:none !important;
	resize: none;
	width:100%;
	color:rgb(33,37,41);
}.icon{
	float:left;
	display:inline-block;
	width:20px;
	margin-left: 5px;
	vertical-align: top;
	margin-top: 5px;
}.icon2{
	width:25px;
	margin-bottom: 2px;
}
.buttontext{
	padding-top:5px;
	padding-bottom: 5px;
	display:inline-block;
	font-size: 14px;
	font-weight: 500;
}
.buttontext2{
	padding-top:5px;
	padding-bottom: 5px;
	display:inline-block;
	font-size: 14px;
	font-weight: 500;
}
.buttonnumber{
	color:rgb(0, 127, 255);
	display:inline-block;
	float:left;
	margin-left: 5px;

	padding-top:5px;
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: 500;
}

.reportdelete{
	background-color: rgb(255,255,255);
	border: none !important;
	border-radius: 4px;
}

.reportdelete:hover{
	background-color: #d9e4ec;
}
.lolzsearch{
	display:block;
	background-color:rgb(255,255,255);
	border:1px solid #d9e4ec;
	border-radius: 4px;
	width:100%;
	padding:10px;
}
.lolzsearch:hover{
	background-color: #d9e4ec;
}
.searchtext{
	font-weight:500;
	font-size:16px;
	color:rgb(33,37,41);
}
.fileback{
	display: block;
	font-weight:500;
	color:rgb(33,37,41);

	background-color:rgb(255,255,255);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;

	border-left:1px solid #d9e4ec;
	border-right:1px solid #d9e4ec;
}

input[type="text"], textarea {
background-color: rgb(241,247,252); 
outline: none;
box-shadow:none !important;
border-radius: 4px;
border:1px solid #d9e4ec !important;
}

input[type="button"], button {
outline: none;
box-shadow:none !important;
border:1px solid #d9e4ec !important;
}





